.board
{
    border: ridge;
    background-color: green;
    border-radius: 25%;
    margin-top: 5%;
    height: 600px;
    padding-top: 100px;
}

.giCol1 input {text-align: -webkit-center;}
#wagerButton {border: outset; border-radius: 5px; background-color: red; color: aliceblue;}
.giCol1 {align-items: center; place-content: center; padding-top: 5%; padding-bottom: 10px;}
.giCol1 p {margin-top: 0; margin-bottom: 0rem; padding-right: 10px;}
.dice1
{
    padding-top: 2px;
    padding: 0px;
    margin-top: 20px;
    line-height: 45%;
    font-size: 60px;
    text-align: center;
    background-color:rgb(255, 0, 0);
    border-style: inset;
    border-width: thick;
    border-color: red;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    box-shadow: 6px 5px 5px 1px #d00418;
    &.bouncing {animation: bouncing 0.3s ease-in-out infinite;}
    
}
.dice2
{
    padding-top: 2px;
    padding: 0px;
    margin-top: 20px;
    line-height: 45%;
    font-size: 60px;
    text-align: center;
    background-color:rgb(255, 0, 0);
    border-style: inset;
    border-width: thick;
    border-color: red;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    box-shadow: 6px 5px 5px 1px #d00418;
    &.bouncing {animation: bouncing 0.4s infinite;}
}

@keyframes bouncing
{

    100% {transform: translateY(-25px) rotate(360deg) translate(-3em,1em);}

}

.col {color: rgb(255, 255, 255);}
.centerMidDot {position: fixed; align-self: center; position-area: center;}

.cashout {padding-top: 5px;}
#cashOutBtn {border: outset; border-radius: 5px; background-color: red; color: aliceblue;}

body #myVideo
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
